/* 
GRIS OSCURO #3E3F41
NARANJO LOGO #F4A728
GRIS CLARO #
*/
*{
	font-family: 'Josefin Sans', sans-serif;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	color: whitesmoke;
}

a:hover{
	text-decoration: none;
	color: gray;
}

/* Seccion 1 - HTML 1 */
.body1{
	background-color: #3E3F41;
}
.logoSec1{
	width: 50%;
	padding-top: 30%;
}

.titSec1{
	color: #F4A728;
	font-size: 35px;
	font-weight: bold;
}
/* Fin Seccion 1 - HTML 1 */

/* Seccion 2 - HTML 1 */
.fondoFormSec2{
	background-color: white;
}

.botonSec1{
	background-color: #F4A728;
	width: 95%;
}

.jhgh:hover{
	color: #F4A728;
}

.botonSec1:hover { /* Efecto Hover */
 background: rgba(0,0,0,0);
 color: #F4A728;
 box-shadow: inset 0 0 0 3px #F4A728;
}

/* enlace ¿password? */

.enlaceContrasenaSec1{
	font-size: 15px;
	font-weight: lighter;
}

.cajaEnlacesSec1A{
	padding-top: 10%;
	padding-right: 5%;
	padding-left: 12%;
	padding-bottom: 10%;
}

.enlaceContrasenaSec1Amarillo{
	color: #F4A728;
}

/* Fin HTML 1 */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* HTML 2 */

.indexSec2A{
	z-index: 2;	
}

.body2{
	background-color: lightgray;
}

.navbar{
	background-color: black;
	width: 100%;
	height: 60px;
}

.logoSec2Nav{
	color: lightgray;
	padding-left: 13%;
}

.collapseMediano{
	width: 70%;
	height: 95vh;
	background-color: white;
}

.hamburg{
	background-color: black;
}

.fondoDesplegue{
	width: 60%;
	height: 500vh;
	background-color: white;
}

/* Icono Collapsed */
.iconAmarillo{
	color: #F4A728;
}

/* BTN */

.indexSec2{
	z-index: -1;
}

.marginBTNSec2{
	margin: 3%;
}

.topBTNSEC2{
	margin-top: 15%;
}

/* Fin HTML 2 */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* HTML 3 */
.profile-userpic img {
	float: none;
	margin: 0 auto;
	width: 70%;
	height: 70%;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

.body3{
	background-color: #F4A728;
}

.fondoSec3{
	background-color: lightgray;
}

.mailUsuario{
	background-color: white;
	padding: 4%;
	margin-top: 7%;
	border: 1px solid white;
	border-radius: 4px;
	color: lightgray;
}

.mailUsuario2{
	background-color: white;
	margin-top: 2%;
	border: 1px solid white;
	border-radius: 4px;
	color: lightgray;
}

/* Fin HTML 3 */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* HTML 4 */

.basePreguntasFrec{
	height: 40vh;
}

.titSec4{
	color: white;
	font-weight: lighter;
	padding-top: 13%;
}

.titSec4Acordeon{
	font-size: 12px;
	font-weight: bold;
}

.textSec4Acordeon{
	font-size: 10px;
}

.topBaseAcordeon{
	padding-top: 15%;
	padding-bottom: 10%;
	padding-left: 3%;
	padding-right: 3%;
}

/* Fin HTML 4 */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* HTML 5 */
.baseVerSaldo{
	width: 100%;
}

.cajaCollapsedSaldo{
	background-color: #F4A728;
}

.cajaTextTitCollapsed{
	background-color: black;
	height: 50px;
	border: 1px solid black;
	border-radius: 5px;
}

.textTitCollapsed{
	font-size: 12px;
	text-align: center;
	color: white;
	padding-top: 2%;
}

.textsaldoSec5{
	text-align: center;
	font-weight: bold;
	color: white;
}

/* Fin HTML 5 */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* HTML 6 */
.colorSelectSec6{
	color: black;
}

/* Fin HTML 6 */